body{
    background-image: url(./assets/cinema.jpg);
    background-size: cover; /* Couvre l'espace disponible */
}

.me-auto > a{
    gap: 10px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover{
    scale: 1.05;
    cursor: pointer;
}

.card{
    border-radius: 30px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

.big-body-tertiary{
    gap: 10px;
}

.listGenre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 12vh;
}

h1{
    color: whitesmoke;
}

.nav-link{
    color: whitesmoke;
}

.nav-link:hover{
    color: red;
}

.categoryPart{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: wheat
}

p{
    color: whitesmoke;
}

.biography{
    margin-left: 4vw;
    margin-right: 4vw;
}